* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #26231A;
    font-family: sans-serif;
    color: white;
}

h1 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px;
}

li:last-child {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>📱</text></svg>") 16 0, auto;
    padding-left: 5px;
}

.color {
    color: #dc143c;
}